// Styling for the features section
section.description {
    background-color: white;
    color: black;
    padding: 50px 0;

    .section-heading {
        h1 {
            margin-top: 0;
            font-weight: bold;
            font-size: 30px;
            word-break: keep-all;
        }
        p {
            margin-bottom: 0;
        }
    }
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
        display: flex;

        .number {
            width: 35px;
            margin-bottom: 20px;
        }

        .image img {
            width: 60px;
            margin-right: 20px;
        }
    }
    .feature-item {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        h3 {
            font-size: 15px;
            word-break: keep-all;
            align-items: center;
            display: flex;
            margin-left: 10px;
            font-weight: normal;
        }
        i {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, white, white);
            background: linear-gradient(to left, white, white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    @media(min-width: 992px) {
        .feature-item {
            display: inherit;
    
            .image img {
                width: 120px;
                margin-right: 0;
            }

            h3 {
                font-size: 20px;
                word-break: keep-all;
            }
        }
    }
}
