// Styling for the download section
section.download {
    position: relative;
    padding: 75px 0;
    background-color: $gray-dark;
    color: white;

    h2 {
        font-size: 30px;
        margin-bottom: 30px;
        word-break: keep-all;
    }
    .badges {
        a {
            text-decoration: none;
            
            &:last-child img {
                width: 166px;
                padding: 0;
            }
        }
        img {
            width: 150px;
            padding: 5px 10px;
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 40px;
        }
        .badges {
            img {
                height: 60px;
            }
        }
    }
}
