// Styling for the masthead
header.masthead {
    position: relative;

    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
    color: black;
    background: no-repeat bottom url('../img/background.png');

    .header-content {
        max-width: 800px;
        margin-bottom: 100px;

        text-align: center;
        h3 {
            font-size: 25px;
            font-weight: bold;
        }
        h1 {
            font-size: 32.5px;
            word-break: keep-all;
            font-weight: bold;
            color: $theme-primary;
        }
        a > img {
            width: 180px;
        }
        .btn-kakao {
            background-color: $brand-kakao;
            border-radius: 10px;
            font-size: 25px;
            transition: all 0.5s;
            position: fixed;
            bottom: 10px;
            width: calc(100% - 40px);
            left: 0;
            margin: 20px;
            z-index: 1000;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 992px) {
        padding-top: 150px;
        height: 50vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
            .btn-kakao {
                position: static;
                width: auto;
                box-shadow: none;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}