// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    background-color: $theme-primary;
    padding: 20px 40px 10px;
    color: white;
    & > .container {
        align-items: flex-end;
    }
    @include transition-all;
    @include heading-font;
    .navbar-brand {
        color: white;
        @include heading-font;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
        .logo-square,
        .logo-text {
            height: 30px;
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-collapse {
        padding-top: 20px;
    }
    .navbar-nav {
        flex-direction: row;
        .nav-item {
            min-width: 85px;
        }
        > li {
            flex: 1;
            text-align: center;
            > a {
                color: white;
                font-size: 16px;
                font-weight: 500;
                &.active {
                    color: white !important;
                    background-color: $theme-primary;
                    &:hover {
                        background-color: $theme-primary;
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        border-color: $theme-primary;
        background-color: $theme-primary;
        .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: fade-out(white, .3);
            &:hover {
                color: white;
            }
        }
        &.navbar-shrink {
            border-color: fade-out($gray-darker, .9);
            background-color: $theme-primary;
            .navbar-brand {
                color: $gray-darker;
                &:hover,
                &:focus {
                    color: $theme-primary;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: $gray-darker;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
