// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    background-color: $theme-primary;
    padding: 10px 20px;
    color: black;
    & > .container {
        align-items: flex-end;
    }
    position: fixed;
    box-shadow: 0 3px 10px rgba(0,0,0,.25), 0 3px 3px rgba(0,0,0,.22);

    @include transition-all;
    @include heading-font;
    .navbar-brand {
        color: black;
        @include heading-font;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
        .logo-square,
        .logo-text {
            height: 30px;
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-nav {
        .nav-item {
            min-width: 85px;
        }
        > li {
            flex: 1;
            > a {
                color: black;
                font-size: 16px;
                font-weight: 500;
                &.active {
                    color: black !important;
                    background-color: $theme-primary;
                    &:hover {
                        background-color: $theme-primary;
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        border-color: $theme-primary;
        background-color: $theme-primary;
        .navbar-brand {
            color: fade(black, 70%);
            &:hover,
            &:focus {
                color: black;
            }
        }    
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: fade-out(black, .3);
            &:hover {
                color: black;
            }
        }
        &.navbar-shrink {
            border-color: fade-out($gray-darker, .9);
            background-color: $theme-primary;
            // .navbar-brand {
            //     color: $gray-darker;
            //     &:hover,
            //     &:focus {
            //         color: $theme-primary;
            //     }
            // }
            // .navbar-nav > li > a,
            // .navbar-nav > li > a:focus {
            //     color: $gray-darker;
            //     &:hover {
            //         color: $theme-primary;
            //     }
            // }
        }
    }
}
